<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>EDUCATION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label class="Edu-label">
          <img src="assets/school.png" class="Edu-list-img" alt="">School</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
      </div>
      
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label class="Edu-label">
          <img src="assets/MiddleSchool.png" class="Edu-list-img" alt="">Middle School</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      
      </div>
      
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label class="Edu-label">
          <img src="assets/highschool.png" class="Edu-list-img" alt="">High School</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label class="Edu-label">
          <img src="assets/College.png" class="Edu-list-img" alt="">College</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label class="Edu-label">
          <img src="assets/University.png" class="Edu-list-img" alt="">University</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
   
  </ion-accordion-group>
</ion-content>
