<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>JOBS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="SecurityGuard">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/securityguard.png" class="jobs-list-img" alt="">Security Guard <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
      </div>
      
    </ion-accordion>
    <ion-accordion value="FactoryWorker">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/factoryworker.png" class="jobs-list-img" alt="">Factory Worker
          <!-- <span>(small Bussiness) </span>  -->
          <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      
      </div>
      
    </ion-accordion>
    <ion-accordion value="ApprenticeNailTechnician">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/nailgroomer.png" class="jobs-list-img" alt="">Apprentice Nail Technician <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="ApprenticeGrocer">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/grocer.png" class="jobs-list-img" alt="">Apprentice Grocer <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="ApprenticePetGroomer">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/Petgrooming.png" class="jobs-list-img" alt="">Apprentice Pet Groomer<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="CatBehaviourConsultant">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/catBehaviourConsultant.png" class="jobs-list-img" alt="">Cat Behaviour Consultant<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="Nun">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/nun.png" class="jobs-list-img" alt="">Nun<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="MorticianMontuary">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/montuary.png" class="jobs-list-img" alt="">Mortician (Montuary) <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      </div>
    </ion-accordion>
    <ion-accordion value="ApprenticeAutoMechanic">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/automechanic.png" class="jobs-list-img" alt="">Apprentice Auto Mechanic <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="ApprenticePlumber">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/plumber.png" class="jobs-list-img" alt="">Apprentice Plumber<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="ApprenticePainter">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/painter.png" class="jobs-list-img" alt="">Apprentice Painter<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="Farmer">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/farmer.png" class="jobs-list-img" alt="">Farmer <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="MaleStripperstripClub">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/stripper.png" class="jobs-list-img" alt="">Male Stripper (stripClub) <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="WasteCollectormuncipal">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/wastecollector.png" class="jobs-list-img" alt="">Waste Collector (muncipal) <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="MassageTherapist">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/massage.png" class="jobs-list-img" alt="">Massage Therapist <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="BaggageHandler">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/baggage.png" class="jobs-list-img" alt="">Baggage Handler <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="DatabaseAdmin">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/databaseadmin.png" class="jobs-list-img" alt="">Database Admin<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="EnvironmantalScientist">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/environmentalscientist.png" class="jobs-list-img" alt="">Environmantal Scientist <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="Accountant">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/accountant.png" class="jobs-list-img" alt="">Accountant <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="ReporterTV">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/reporter.png" class="jobs-list-img" alt="">Reporter (TV)<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="JrPolicyAnalystMuncipal">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/policyanalyst.png" class="jobs-list-img" alt="">Jr Policy Analyst  <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="ChiropractorMedical">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/chiropractor.png" class="jobs-list-img" alt="">Chiropractor  <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="SchoolTeacher">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/teacher.png" class="jobs-list-img" alt="">School Teacher<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="TourOperatortravelAgency">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/touroperator.png" class="jobs-list-img" alt="">Tour Operator (Travel Agency) <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
    <ion-accordion value="GalleryAssociate">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/gallery.png" class="jobs-list-img" alt="">Gallery Associate<blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
  


   
  </ion-accordion-group>
</ion-content>
