<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>JOBS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/user-male.png" class="jobs-list-img" alt="">Security Guard <span>(small Bussiness) </span> <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
      </div>
      
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/user-male.png" class="jobs-list-img" alt="">Security Guard 
          <!-- <span>(small Bussiness) </span>  -->
          <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      
      </div>
      
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/user-male.png" class="jobs-list-img" alt="">Factory Worker <span>(small Bussiness) </span> <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/user-male.png" class="jobs-list-img" alt="">Security Guard <span>(small Bussiness) </span> <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label class="job-label" style="font-weight: bold;">
          <img src="assets/user-male.png" class="jobs-list-img" alt="">Security Guard <span>(small Bussiness) </span> <blockquote> &nbsp;&nbsp;&nbsp;$6000</blockquote></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
    
      </div>
      
    </ion-accordion>
   
  </ion-accordion-group>
</ion-content>
