ionlabel{
    display: flex !important;
    align-items: center;
    
}
.jobs-list-img{
  display: inline-block;
        height:50px;
        width:50px; 
        font-weight: bold !important;
}
span{
    font-weight: 100 !important;
}