<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>RELATIONSHIPS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label class="Rel-label">
          <img src="assets/gender.png" class="Rel-list-img" alt="">Family</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
      </div>
      
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label class="Rel-label">
          <img src="assets/gender.png" class="Rel-list-img" alt="">Friends</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      
      </div>
      
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label class="Rel-label">
          <img src="assets/gender.png" class="Rel-list-img" alt="">Enemy</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label class="Rel-label">
          <img src="assets/gender.png" class="Rel-list-img" alt="">Colleague</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
  
      </div>
      
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
