<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>ASSETS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Income Report Tab</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Loans (Give or take)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Expenses Report Tab</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Houses </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Businesses</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Vehicles</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Stock Trading/Investments</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="eighth">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Constructions Projects</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="nineth">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Landed Properties (Check, Buy or Build</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
    <ion-accordion value="tenth">
      <ion-item slot="header" color="light">
        <ion-label class="Asset-label">
          <img src="assets/asset.png" class="Asset-list-img" alt="">Charity	</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        $600
      </div>
     
    </ion-accordion>
  <ion-accordion value="eleventh">
    <ion-item slot="header" color="light">
      <ion-label class="Asset-label">
        <img src="assets/asset.png" class="Asset-list-img" alt="">Shadow Government</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      $600
    </div>
   
  </ion-accordion>
<ion-accordion value="twelveth">
  <ion-item slot="header" color="light">
    <ion-label class="Asset-label">
      <img src="assets/asset.png" class="Asset-list-img" alt="">Government Assistance 	</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    $600
  </div>
 
</ion-accordion>
<ion-accordion value="thirteenth">
  <ion-item slot="header" color="light">
    <ion-label class="Asset-label">
      <img src="assets/asset.png" class="Asset-list-img" alt="">World Ranking by Net-Worth
    </ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    $600
  </div>
 
</ion-accordion>
    
   
  </ion-accordion-group>
</ion-content>