/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';


.action-sheet-group:nth-child(1) button:nth-child(1) .action-sheet-button-inner:after {
  content: '  ♂️';
}

.action-sheet-group:nth-child(1) button:nth-child(2) .action-sheet-button-inner:after {
  content: '  ♀️';
}

.action-sheet-group:nth-child(1) button:nth-child(3) .action-sheet-button-inner:after {
  content: '  ⚧️';
}

.stats-modal-class {
  height: 70%;
  width: 90%;
  border-radius: 15px;
  top: 20%;
  margin: 0 auto;
}

.activity-modal-class {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  top: 20%;
  margin: 0 auto;
}
.Edu-modal-class{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  top: 20%;
  margin: 0 auto;
}
.Relation-modal-class{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  top: 20%;
  margin: 0 auto;
}
.jobs-modal-class{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  top: 20%;
  margin: 0 auto;
}
.swiper .swiper-slide img {
  
  max-width: 20%!important;
 
}