<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        <ion-col class="hero-img">
          <img
            src="assets/newdns.png"
            style="display: inline-block"
            height="35px"
          />
        </ion-col>
        <ion-col class="hero-title">INFINITE LIFE</ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar class="ion-head">
    <ion-title>
      <ion-row>
        <ion-col class="hero-img">
          <ion-button
            class="profile-data"
            id="click-trigger"
            color="transparent"
            style="--padding-start: 0em; --padding-end: 0em"
            ><img
              src="assets/user-male.png"
              style="display: inline-block"
              height="40px"
            />
          </ion-button>
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding"
                ><!-- List of Text Items -->
                <ion-list>
                  <ion-item>
                    <ion-label>Name: Adam</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Age: 12</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Gender: Male</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Sexuality: Straight</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Occupation:Baby</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nationality: American</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Location:New york</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Marital Status: Single</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Parents: Mike and Emily</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Children:None</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Net Worth: 0$</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Addictions:None</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Desease: None</ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
        <ion-col class="hero-stat">
          <ion-row
            ><img
              class="crown"
              src="assets/crown.png"
              style="display: inline-block"
              height="10px"
          /></ion-row>
          <ion-row style="flex-flow: row"
            >George Lucas<img
              src="assets/usa.png"
              style="display: inline-block"
            />
          </ion-row>

          <ion-row class="hero-stat-group"> Infant </ion-row>
        </ion-col>
        <ion-col>
          <ion-col class="hero-bank">
            <div>
              $100<img
                src="assets/wallet.png"
                style="display: inline-block"
                height="17px"
              />
            </div>
            <ion-row class="hero-bank-title">
              <ion-col class="hero-bank-title">
                <div>Bank Balance</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main-content">
  <div class="chat-messages">
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 2</strong></div>
        I got a new friend
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 3</strong></div>
        I got a new toy
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 4</strong></div>
        I got a new phone
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
    <div class="message-box-holder">
      <div class="message-box">
        <div><strong class="age">Age 1</strong></div>
        I got a new car
      </div>
    </div>
  </div>
</ion-content>
<div class="asset-box position-relative">
  <ion-button class="position-absolute stat-btn" expand="block">
    <img src="assets/stats.png" class="" alt="" />
  </ion-button>
  <div class="footer-icon-group">
    <div class="border-a">
      <img
        src="assets/gender.png"
        style="display: inline-block"
        height="45px"
      />
    </div>
    <div class="border-a">
      <img src="assets/edu.png" style="display: inline-block" height="45px" />
    </div>
    <div class="border-a">
      <img
        src="assets/newplus.png"
        style="display: inline-block"
        height="45px"
        width="50px"
      />
    </div>
    <div class="border-a">
      <img src="assets/asset.png" style="display: inline-block" height="45px" />
    </div>
    <div expand="block" class="border-a" (click)="openStats()">
      <img
        src="assets/activities.png"
        style="display: inline-block"
        height="45px"
      />
    </div>
  </div>
</div>
<!-- <ion-footer class="ion-no-border">
  <ion-toolbar class="icons-tabs-btns">
   
  
  </ion-toolbar>
</ion-footer>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <img src="assets/newdns.png" style="display:inline-block" height="35px" />
      
      
    <img src="assets/newdns.png" style="display:inline-block" height="35px" />
  
  
    <img src="assets/newdns.png" style="display:inline-block" height="35px" />
  
  </ion-toolbar>
</ion-footer> -->
