<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>ACTIVITIES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label">
          <img src="assets/learn.png" class="Activity-list-img" alt="">Learn</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Swim $60
      </div>
      <div class="ion-padding" slot="content">
        Piano $40
      </div>
      <div class="ion-padding" slot="content">
        Saxophone $20
      </div>
      <div class="ion-padding" slot="content">
        Drums $15
      </div>
      <div class="ion-padding" slot="content">
        Singing $35
      </div>
      <div class="ion-padding" slot="content">
        Karate $30
      </div>
      <div class="ion-padding" slot="content">
        Judo $20
      </div>
      <div class="ion-padding" slot="content">
        Horse races $90
      </div>
      <div class="ion-padding" slot="content">
        Football $50
      </div>
      <div class="ion-padding" slot="content">
        Dance $40
      </div>
      <div class="ion-padding" slot="content">
        Pole dancing 30$
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/Plan.png" class="Activity-list-img" alt="">PLAN</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Spa day
      </div>
      <div class="ion-padding" slot="content">
        Shopping spree
      </div>
      <div class="ion-padding" slot="content">
        Date night
      </div>
      <div class="ion-padding" slot="content">
        Honey moon
      </div>
      <div class="ion-padding" slot="content">
        Vacation on a yatch
      </div>
      <div class="ion-padding" slot="content">
        Destinations
      </div>
      <div class="ion-padding" slot="content">
        Bucket list etc
      </div>
      <div class="ion-padding" slot="content">
        Game night
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/join.png" class="Activity-list-img" alt="">PLAN</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Yoga
      </div>
      <div class="ion-padding" slot="content">
        Gym
      </div>
      <div class="ion-padding" slot="content">
        Rehab
      </div>
      <div class="ion-padding" slot="content">
        Book club
      </div>
      <div class="ion-padding" slot="content">
        Gambling & Lottery
      </div>
      <div class="ion-padding" slot="content">
        Casino
      </div>
      <div class="ion-padding" slot="content">
        Horse race
      </div>
      <div class="ion-padding" slot="content">
        Adrenaline Rush
      </div>
      <div class="ion-padding" slot="content">
        Paragliding
      </div>
      <div class="ion-padding" slot="content">
        Jet ski
      </div>
      <div class="ion-padding" slot="content">
        Sky diving
      </div>
      <div class="ion-padding" slot="content">
        Game night
      </div>
      <div class="ion-padding" slot="content">
        Scuba diving
      </div>
      <div class="ion-padding" slot="content">
        Bungee jumping
      </div>
      <div class="ion-padding" slot="content">
        Camping
      </div>
      <div class="ion-padding" slot="content">
        Hiking
      </div>
      <div class="ion-padding" slot="content">
        Racing
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/lottery.png" class="Activity-list-img" alt="">Gambling and Lottery</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Casino
      </div>
      <div class="ion-padding" slot="content">
        Horse race
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/crime.png" class="Activity-list-img" alt="">Crime</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Do drug dealing
      </div>
      <div class="ion-padding" slot="content">
        Rob a bank
      </div>
      <div class="ion-padding" slot="content">
        Rob a house
      </div>
      <div class="ion-padding" slot="content">
        Scam a friend
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/gym.png" class="Activity-list-img" alt="">Gym</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lose weight
       
        
      </div>
      <div class="ion-padding" slot="content">
        Gain muscle
       
      </div>
      <div class="ion-padding" slot="content">
        <ion-accordion value="sixth">
          <ion-item slot="header" color="light">
            <ion-label class="Activity-label"> Select your gym membership costs</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Basic: $188
           
          </div>
          <div class="ion-padding" slot="content">
            Gold: $210
           
          </div>
          <div class="ion-padding" slot="content">
            Premium: $278
           
          </div>
          <div class="ion-padding" slot="content">
        
            All access: $438
           
          </div>
         
        </ion-accordion>
      </div>
     
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/love.png" class="Activity-list-img" alt="">Love</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
       Go to club
      </div>
      <div class="ion-padding" slot="content">
        Night Life
      </div>
      <div class="ion-padding" slot="content">
        Experimenting Sexuality
      </div>

    </ion-accordion>
    <ion-accordion value="eighth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/cosmetic.png" class="Activity-list-img" alt="">Cosmetic</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      Get a Cosmetic Surgery
      </div>
      <div class="ion-padding" slot="content">
        Consult a Cosmetic Surgeon
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
