<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>ACTIVITIES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label">
          <img src="assets/learn.png" class="Activity-list-img" alt="">LEARN</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Swim $60
      </div>
      <div class="ion-padding" slot="content">
        Piano $40
      </div>
      <div class="ion-padding" slot="content">
        Saxophone $20
      </div>
      <div class="ion-padding" slot="content">
        Drums $15
      </div>
      <div class="ion-padding" slot="content">
        Singing $35
      </div>
      <div class="ion-padding" slot="content">
        Karate $30
      </div>
      <div class="ion-padding" slot="content">
        Judo $20
      </div>
      <div class="ion-padding" slot="content">
        Horse races $90
      </div>
      <div class="ion-padding" slot="content">
        Football $50
      </div>
      <div class="ion-padding" slot="content">
        Dance $40
      </div>
      <div class="ion-padding" slot="content">
        Pole dancing 30$
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/Plan.png" class="Activity-list-img" alt="">PLAN</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Spa day
      </div>
      <div class="ion-padding" slot="content">
        Shopping spree
      </div>
      <div class="ion-padding" slot="content">
        Date night
      </div>
      <div class="ion-padding" slot="content">
        Honey moon
      </div>
      <div class="ion-padding" slot="content">
        Vacation on a yatch
      </div>
      <div class="ion-padding" slot="content">
        Destinations
      </div>
      <div class="ion-padding" slot="content">
        Bucket list etc
      </div>
      <div class="ion-padding" slot="content">
        Game night
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/join.png" class="Activity-list-img" alt="">JOIN COMMUNITY</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Yoga
      </div>
      <div class="ion-padding" slot="content">
        Gym
      </div>
      <div class="ion-padding" slot="content">
        Rehab
      </div>
      <div class="ion-padding" slot="content">
        Book club
      </div>
      <div class="ion-padding" slot="content">
        Gambling & Lottery
      </div>
      <div class="ion-padding" slot="content">
        Casino
      </div>
      <div class="ion-padding" slot="content">
        Horse race
      </div>
     
      <div class="ion-padding" slot="content">
        Paragliding
      </div>
      <div class="ion-padding" slot="content">
        Jet ski
      </div>
      <div class="ion-padding" slot="content">
        Sky diving
      </div>
      <div class="ion-padding" slot="content">
        Game night
      </div>
      <div class="ion-padding" slot="content">
        Scuba diving
      </div>
      <div class="ion-padding" slot="content">
        Bungee jumping
      </div>
      <div class="ion-padding" slot="content">
        Camping
      </div>
      <div class="ion-padding" slot="content">
        Hiking
      </div>
      <div class="ion-padding" slot="content">
        Racing
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/lottery.png" class="Activity-list-img" alt="">GAMBLING AND LOTTERY</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Casino
      </div>
      <div class="ion-padding" slot="content">
        Horse race
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/crime.png" class="Activity-list-img" alt="">CRIME</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Do drug dealing
      </div>
      <div class="ion-padding" slot="content">
        Rob a bank
      </div>
      <div class="ion-padding" slot="content">
        Rob a house
      </div>
      <div class="ion-padding" slot="content">
        Scam a friend
      
      </div>
      <div class="ion-padding" slot="content">
        Join mafia 
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/gym.png" class="Activity-list-img" alt="">GYM</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lose weight
       
        
      </div>
      <div class="ion-padding" slot="content">
        Gain muscle
       
      </div>
      <div class="ion-padding" slot="content">
        <ion-accordion value="sixth">
          <ion-item slot="header" color="light">
            <ion-label class="Activity-label"> Select your gym membership costs</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Basic: $188
           
          </div>
          <div class="ion-padding" slot="content">
            Gold: $210
           
          </div>
          <div class="ion-padding" slot="content">
            Premium: $278
           
          </div>
          <div class="ion-padding" slot="content">
        
            All access: $438
           
          </div>
         
        </ion-accordion>
      </div>
     
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/love.png" class="Activity-list-img" alt="">LOVE</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
       Go to club
      </div>
      <div class="ion-padding" slot="content">
        Night Life
      </div>
      <div class="ion-padding" slot="content">
        Experimenting Sexuality
      </div>

    </ion-accordion>
    <ion-accordion value="eighth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/cosmetic.png" class="Activity-list-img" alt="">COSMETIC</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      Get a Cosmetic Surgery
      </div>
      <div class="ion-padding" slot="content">
        Botox: $6,175
      </div>
      <div class="ion-padding" slot="content">
        Eyelid surgery: $4,725
      </div>
      <div class="ion-padding" slot="content">
        Face lift: $12,250
      </div>
      <div class="ion-padding" slot="content">
        Liposuction: $6,575
      </div>
      <div class="ion-padding" slot="content">
        Nose job: $3000
      </div>
      <div class="ion-padding" slot="content">
        Tummy tuck: $8275
      </div>
      <div class="ion-padding" slot="content">
        Jaw line: $6,500
      </div>
      <div class="ion-padding" slot="content">
        Jaw line: $6,500
      </div>
      <div class="ion-padding" slot="content">
        Brow lift: $7,225
      </div>
    </ion-accordion>
    <ion-accordion value="nineth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/Sports.png" class="Activity-list-img" alt="">SPORTS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        NBA finals for $696 per ticket
      </div>
      <div class="ion-padding" slot="content">
        Super Bowl for $6,600
      </div>
      <div class="ion-padding" slot="content">
        World Series $700
      </div>
      <div class="ion-padding" slot="content">
        Stanley Cup $735
      </div>
      <div class="ion-padding" slot="content">
        World Cup $455
      </div>
      <div class="ion-padding" slot="content">
        Wimbledon $85
      </div>
      <div class="ion-padding" slot="content">
        The Masters $1700
      </div>
      <div class="ion-padding" slot="content">
        Boxing Championship Match $44
      </div>
      <div class="ion-padding" slot="content">
        Home game
      </div>
      <div class="ion-padding" slot="content">
        Away game 
      </div>
      <div class="ion-padding" slot="content">
        Olympics 
      </div>
   
    </ion-accordion>
    <ion-accordion value="tenth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/Vacations.png" class="Activity-list-img" alt="">VACATIONS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        St. Kitts $671 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Monaco $2000 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Lake Como, Italy $700 per person per night
      </div>
      <div class="ion-padding" slot="content">
        Lake Tahoe, United States $94 per person per day
      </div>
      <div class="ion-padding" slot="content">
        Swiss Alps, Switzerland $3725 per night per person
      </div>
      <div class="ion-padding" slot="content">
        The Hamptons $3815 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Arores Portugal $107 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Ibiza Spain $300 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Paris France $400 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Hawaii United States $274 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Oman $160 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Seychelles $156 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Aspen United States $235 per night per person
      </div>
      <div class="ion-padding" slot="content">
        Bora bora French Polynesian $500 per night per person
      </div>

      <div class="ion-padding" slot="content">
        British virgin island $550
      </div>
      <div class="ion-padding" slot="content">
        Saint tropez France $125
      </div>
      <div class="ion-padding" slot="content">
        St. Barts $237
      </div>
      <div class="ion-padding" slot="content">
        Maldives $233
      </div>

      <div class="ion-padding" slot="content">
        Napa and Sonoma United States $230
      </div>
      <div class="ion-padding" slot="content">
        Greece $129
      </div>
      <div class="ion-padding" slot="content">
        Fiji $254
      </div>
      <div class="ion-padding" slot="content">
        Los Cabos Mexico $130
      </div>
      <div class="ion-padding" slot="content">
        London $178
      </div>
      <div class="ion-padding" slot="content">
        Whistler Canada $107
      </div>
      <div class="ion-padding" slot="content">
        Cape Cod United States $500
      </div>
      <div class="ion-padding" slot="content">
        Morocco $45
      </div>
      <div class="ion-padding" slot="content">
        Tuscany Italy $127
      </div>
      <div class="ion-padding" slot="content">
        Miami $738
      </div>
      <div class="ion-padding" slot="content">
        China $200
      </div>
      <div class="ion-padding" slot="content">
        Las Vegas $246
      </div>
      <div class="ion-padding" slot="content">
        Munich $116
      </div>
      <div class="ion-padding" slot="content">
        Florida keys $330
      </div>
      <div class="ion-padding" slot="content">
        Bahamas $500
      </div>
      <div class="ion-padding" slot="content">
        Disney world $125
      </div>
      <div class="ion-padding" slot="content">
        The masters $100
      </div>
      <div class="ion-padding" slot="content">
        Wimbledon $100
      </div>
      <div class="ion-padding" slot="content">
        Daytona 500 $50
      </div>
    </ion-accordion>
    <ion-accordion value="eleventh">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/HEALTH.png" class="Activity-list-img" alt="">HEALTH</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Take a memory test
      </div>
      <div class="ion-padding" slot="content">
        visit a doctor
        
      </div>
      <div class="ion-padding" slot="content">
        Visit a psychiatrist  
      
      </div>
      <div class="ion-padding" slot="content">
        Do recreational drugs
      
      </div>
      <div class="ion-padding" slot="content">
        Get a vaccination shot
       
      </div>
    </ion-accordion>
    <ion-accordion value="twelth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/camping.png" class="Activity-list-img" alt="">CAMPING</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        At a Forest
      </div>
      <div class="ion-padding" slot="content">
        At a Mountain Top
      </div>
      <div class="ion-padding" slot="content">
       Beside a river
      </div>
    </ion-accordion>
    <ion-accordion value="thirteenth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/miscellaneous.png" class="Activity-list-img" alt="">MISCELLANEOUS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Make funny videos
      </div>
      <div class="ion-padding" slot="content">
        Start art gallery 
      </div>
      <div class="ion-padding" slot="content">
        Encounter Celebrities
      </div>
      <div class="ion-padding" slot="content">
        Start a social media page
      </div>
      <div class="ion-padding" slot="content">
        Become an influencer 
      </div>
      <div class="ion-padding" slot="content">
        Adoption 
      </div>
      <div class="ion-padding" slot="content">
      Relocate
      </div>
      <div class="ion-padding" slot="content">
        Fertility
      </div>
      <div class="ion-padding" slot="content">
        Get a license
      </div>
      <div class="ion-padding" slot="content">
        Get a pet
      </div>
      <div class="ion-padding" slot="content">
       Bus/subway pass
      </div>
      <div class="ion-padding" slot="content">
        Sweepstakes
       </div>
       <div class="ion-padding" slot="content">
        Bus/subway pass
       </div>
    </ion-accordion>
    <ion-accordion value="fourteenth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/careers.png" class="Activity-list-img" alt="">CAREERS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Invest in Bitcoin
      </div>
      <div class="ion-padding" slot="content">
        Invest in NFTs
      </div>
      <div class="ion-padding" slot="content">
        Become a Doctor
      </div>
      <div class="ion-padding" slot="content">
        Become a Teacher
      </div>
      <div class="ion-padding" slot="content">
        Become a  lawyer
      </div>
    </ion-accordion>
    <ion-accordion value="fifteenth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/Accessories.png" class="Activity-list-img" alt="">ACCESSORIES</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Rolex watch
      </div>
      <div class="ion-padding" slot="content">
        Louis vutton duffel bag 
      </div>
      <div class="ion-padding" slot="content">
        Raybans sunglasse
      </div>
    </ion-accordion>
    <ion-accordion value="sixteenth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/Trust.png" class="Activity-list-img" alt="">TRUST</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Will
      </div>
      <div class="ion-padding" slot="content">
        Trust
      </div>
    </ion-accordion>
    <ion-accordion value="seventeenth">
      <ion-item slot="header" color="light">
        <ion-label class="Activity-label"> <img src="assets/adrenaline.png" class="Activity-list-img" alt="">ADRENALINE RUSH</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        parkour
      </div>
      <div class="ion-padding" slot="content">
        freestyle dance
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
